@tailwind utilities;

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(000, 000, 000, 0.8);
  z-index: 1000;
}

.spiral {
  width: 50px;
  height: 50px;
  border: 5px solid #007bff;
  border-top-color: transparent;
  border-radius: 50%;
}
.svg-wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-icon {
  width: 100%;
  height: 100%;
  fill: #007bff; /* Maintains your color */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
